.container3 {
    border-radius: 15px;
    border-color: #003612;
    padding: 15px;
    height: 100%;
    width: 100%;
    margin: 15px;
    background-color: #05b437;
}

.code{
    background-color: grey;
    border-radius: 15px;
    padding: 0 5px;
    margin: 0 5px;
}
.div-reference div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.div-reference img {
    border-radius: 0;
    margin: 15px;
}

.div-reference span{
    width: 75%;
    text-align: left;
}